.tvxq

h1 {
    text-align:center;
    background-color: rgb(0, 0, 0);
}
h3{
    font-style: oblique;
    background-color: rgb(44, 44, 102);
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: blueviolet;
}
.imagem1 {
    width: 70px;
}
.tvxq {
    background-color: forestgreen

}
.brilho {
   color: aqua;
}
.lista {
        display: inline-block;
        padding: 10%;
        margin-right: 20%;
    }