.solos

h1 {
    text-align:center;
    background-color: rgb(206, 255, 218);
}
h3{
    font-style: oblique;
    background-color: rgb(206, 255, 218);
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgb(206, 255, 218);
}
.solos {
    width: 300px;
}
.solos {
    background-color: forestgreen

}
.brilho {
   color: aqua;
}
.lista {
        display: inline-block;
        padding: 10%;
        margin-right: 20%;
    }